<div class="card">
	<div class="featured-image">
		{{ product.featured_image | image_url: width: 570 | image_tag }}
	</div>
	<div class="card-body">
		<h4>{{ product.price | money_with_currency }}</h4>
		<a href="{{ product.url }}"><h5 class="card-title">{{ product.title }}</h5></a>
		<a href="#0" class="modal-product-btn btn btn-danger" data-product-handle="{{ product.handle }}" data-product-price="{{ product.price | money_with_currency }}">View details</a>
	</div><!-- /.card-body -->
</div><!-- /.card -->