<section class="reset_password">
	<div class="container">
		<div class="row">
			<div class="col-12" style="margin: 5vh 0 10vh 0;">
				<div class="heading mt-5">
					<h1 class="mb-4">My Account</h1>
					<p class="mb-4">ICON <a href="{{ routes.account_logout_url }}">Log out</a></p>
				</div><!-- /.heading -->
			</div><!-- /.col -->
			<div class="col-12 col-md-8 col-lg-9">
				<h3>Order history</h3>

				{% paginate customer.orders by 5 %}
					{% if customer.orders.size > 0 %}
						<table class="table table-striped table-hover align-middle">
							<thead>
								<tr>
									<th scope="col-auto">ORDER</th>
									<th scope="col-auto">Date</th>
									<th scope="col-auto">Payment Status</th>
									<th scope="col-auto">Fulfillment Status</th>
									<th scope="col-auto">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for order in customer.orders %}
									<tr>
										<th scope="row">{{ order.order_number }} - {{ order.name }}</th>
										<td>
											{{ order.created_at | date: 'date' }}
										</td>
										<td>{{ order.financial_status_label }}</td>
										<td>
											{{ order.fulfillment_status_label }}
										</td>
										<td>{{ order.total_price | money_with_currency }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table><!-- /.table -->
					{% else %}
						<p>No orders yet.</p>
					{% endif %}

					{% render 'appol-pagination', paginate: paginate %}
				{% endpaginate %}
			</div>
			<div class="col-12 col-md-4 col-lg-3">
				<h3>Customer Addresses</h3>
				{% if customer.default_address %}
					<p>{{ customer.default_address.address1 }}</p>

					{% if customer.default_address.address2 != blank %}
						<p>{{ customer.default_address.address2 }}</p>
					{% endif %}

					<p>{{ customer.default_address.city }}, {% if customer.default_address.province_code %}{{ customer.default_address.province_code }}{% endif %}, {{ customer.default_address.country_code }}
					<p>{{ customer.default_address.zip_code }}</p>
					<p>{{ customer.default_address.phone }}</p>
				{% endif %}
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.reset_password -->