<section class="product-details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="main-product-image">
					<a href="{{ product.featured_image | image_url: 'master' }}" data-lightbox="product-image" data-title="{{ product.title }}"><img src="{{ product.featured_image | image_url: 'master' }}" class="w-100" width="" height="" alt="" loading="lazy"></a>
				</div>
				<div class="product-images">
					<div class="row">
						{% for image in product.images offset: 1 %}
							<div class="col-12 col-sm-6 col-md-3">
								<div class="product-image-wrapper featured-image border border-secondary bg-light">
									<a href="{{ image | image_url: 'master' }}" data-lightbox="product-image" data-title="{{ product.title }}"><div class="product-image"><img src="{{ image | image_url: 'master' }}" class="w-100" width="" height="" alt="" loading="lazy"></div></a>
								</div><!-- /.product-image-wrapper -->
							</div><!-- /.col -->
						{% endfor %}
					</div>
				</div><!-- /.product-images -->
			</div><!-- /.col-12 -->
			<div class="col-12 col-md-6">
				<a href="#0" class="badge badge-pill bg-info">{{ product.vendor }}</a>
				<h4>{{ product.title }}</h4>
				{% if product.compare_at_price != blank %}
					<p>Normal Price: <del class="text-muted">{{ product.compare_at_price | money_with_currency }}</del></p>
				{% endif %}
				<p>{% if product.compare_at_price != blank %} Offer: {% else %} Price: {% endif %} <span class="h3"><strong>{{ product.price | money_with_currency }}</strong></span></p>
				{% form 'product', product %}
					{% if product.variants.size > 1 %}
						<select name="id" class="form-select mb-3">
							{% for variant in product.variants %}
								<option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.price | money_with_currency }} - {{ variant.title }}</option>
							{% endfor %}
						</select>
					{% else %}
						<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
					{% endif %}
					<div class="quatity">
						<p>Quantity</p>
						<div class="input-group">
							<button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
							<input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
							<button type="button" class="btn btn-secondary form-control btn-increase">+</button>
						</div><!-- /.input-group -->
						<div class="product-ctas mt-4">
							<input type="submit" class="btn btn-outline-success w-100 mt-1 mb-1" value="Add to Cart" />
							{{ form | payment_button }}
						</div><!-- /.product-ctas -->
					</div><!-- /.quantity -->
				{% endform %}
				<div class="description mt-4">
					<p>{{ product.description }}</p>
				</div>
			</div><!-- /.col-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.product-details -->

<script>
	let btnDecrease = document.querySelector('.btn-decrease');
	let btnIncrease = document.querySelector('.btn-increase');
	let quantity = document.querySelector('.quantity');

	btnDecrease.addEventListener('click', function() {
		if (quantity.value > 1) {
			quantity.value = parseInt(quantity.value) - 1;
		}
	});

	btnIncrease.addEventListener('click', function () {
		quantity.value = parseInt(quantity.value) + 1;
	});


</script>