<div class="container">
	{% render 'appol-section-title', section_title: section.settings.section_heading %}
	<div class="testimonials-slider__arrows">
		<div class="slick-arrows-wrapper"></div><!-- /.slick-arrows-wrapper -->
	</div><!-- /.featured-collection-slider_arrows -->
	<div class="testimonials-slider" data-slides="{{ section.settings.slides_per_page }}" data-controls="{{ section.settings.show_controls }}" data-indicators="{{ section.settings.show_indicators }}">
		{% if section.blocks.size == 0 %}
			{% for block in (1..8) %}
				<div class="item">
					<div class="testimonial card">
						<div class="profile-picture featured-image object-fit-cover bg-light mb-2">
							{{ 'product-5' | placeholder_svg_tag }}
						</div><!-- /.profile-picture -->
						<div class="stars d-flex justify-content-center">
							{% for index in (1..5) %}
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill mx-1" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
							{% endfor %}
						</div>
						<div class="text-center mt-3 px-3">
							<h5>The Name</h5>
							<p>The testimonial... Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						</div><!-- /.text-center -->
					</div><!-- /.testimonial -->
				</div><!-- /.item -->
			{% endfor %}
		{% else %}
			{% for block in section.blocks %}
				{% case block.type %}
					{% when 'testimonial' %}
						<div class="item">
							<div class="testimonial card">
								<div class="profile-picture featured-image object-fit-cover bg-light mb-2">
									{% unless block.settings.author_image == blank %}
										{{ block.settings.author_image | image_url: 'master' | image_tag: '', '' }}
									{% else %}
										{{ 'product-5' | placeholder_svg_tag }}
									{% endunless %}
								</div><!-- /.profile-picture -->
								<div class="stars">
									{% for index in (1..block.settings.rate) %}
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
									{% endfor %}
								</div>
								<h5>{{ block.settings.author_name }}</h5>
								<p>{{ block.settings.author_testimonial }}</p>
							</div><!-- /.testimonial -->
						</div><!-- /.item -->
				{% endcase %}
			{% endfor %}	
		{% endif %}
		
	</div><!-- /.collection-slider -->
	<div class="slide-indicators"></div>
</div><!-- /.container -->

{% style %}
.stars svg path {
	fill: #ffc107;
}
{% endstyle %}

<script>
	function testimonialsSlider() {
		let postsPerPage = document.querySelector('.testimonials-slider').getAttribute('data-slides');
		let showControls = document.querySelector('.testimonials-slider').getAttribute('data-controls');
		let showIndicators = document.querySelector('.testimonials-slider').getAttribute('data-indicators');

		var slider = tns({
			container: '.testimonials-slider',
			items: postsPerPage,
			slideBy: 'page',
			mouseDrag: true,
			swipeAngle: false,
			loop: false,
			navPosition: 'bottom',
			controls: showControls == 'true' ? true : false,
			nav: showIndicators == 'true' ? true : false,
			controlsText: ['<', '>'],
			gutter: 15
		});
	}

	window.addEventListener('load', function() {
		testimonialsSlider();
	});

	document.addEventListener("shopify:section:load", function(event) {
		if (event.detail.sectionId == '{{ section.id }}') {
			testimonialsSlider();
		}
	});

</script>

{% schema %}
{
	"name": "Testimonials",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading",
			"default": "Testimonials :)"
		},
		{
			"type": "checkbox",
			"id": "show_controls",
			"label": "Show Controls",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_indicators",
			"label": "Show Indicators",
			"default": true
		},
		{
			"type": "range",
			"id": "slides_per_page",
			"label": "Slides per Page",
			"min": 1,
			"max": 5,
			"step": 1,
			"default": 4
		}
	],
	"blocks": [
		{
			"name": "Testimonial",
			"type": "testimonial",
			"settings": [
				{
					"type": "image_picker",
					"id": "author_image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "rate",
					"label": "Rate",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 1
				},
				{
					"type": "text",
					"id": "author_name",
					"label": "Name",
					"default": "John Doe"
				},
				{
					"type": "richtext",
					"id": "author_testimonial",
					"label": "Testimonial",
					"default": "<p>This is the best online store I ever visit. Everything is high quality and super cheap.</p>"
				}
			]
		}
	]
}
{% endschema %}