<div class="container">
	{% render 'appol-section-title', section_title: section.settings.section_heading %}

	<div class="featured-slider-wrapper">
		{% if section.blocks.size == 0 %}
			{% for block in (1..2) %}
				<div class="slide border border-secondary">
					<div class="slide-img">
						{{ 'lifestyle-' | append: forloop.index | placeholder_svg_tag }}
					</div><!-- /.slide-img -->
					<div class="slide-content py-2 px-5">
						<h3>{{ forloop.index }} Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
						<p>{{ forloop.index }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque, aliquam obcaecati ducimus molestias consequatur saepe ipsam autem commodi doloremque nulla explicabo ipsa reiciendis numquam velit alias? Delectus, suscipit ab.</p>
					</div>
				</div><!-- /.slide -->
			{% endfor %}
		{% else %}
			{% for block in section.blocks %}
				{% if block.type == 'slide' %}
					<div class="slide border border-info">
						<div class="slide-img">
							{{ block.settings.slide_image | image_url: 'master' | image_tag }}
						</div><!-- /.slide-img -->
						<div class="slide-content py-2 px-5">
							<h3>{{ block.settings.slide_heading }}</h3>
							<p>{{ block.settings.slide_content }}</p>
						</div>
					</div><!-- /.slide -->
				{% endif %}
			{% endfor %}
		{% endif %}
	</div><!-- /.featured-slider-wrapper -->

</div><!-- /.container -->

<script>
	function featuredSlider() {
		var slider = tns({
			container: '.featured-slider-wrapper',
			items: 1,
			slideBy: 'page',
			navPosition: 'bottom',
			autoplay: true,
			autoplayButtonOutput: false,
			mouseDrag: true,
			swipeAngle: false,
			speed: 500,
			autoplayHoverPause: true
		});
	}
	window.addEventListener('load', function() {
		featuredSlider();
	});

	document.addEventListener("shopify:section:load", function(event) {
		if (event.detail.sectionId == '{{ section.id }}') {
			featuredSlider();
		}
	});
</script>

{% schema %}
{
	"name": "Featured Slider",
	"tag": "section",
	"class": "appol-featured-slider",
	"settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show Arrows?"
		},
		{
			"type": "checkbox",
			"id": "show_indicators",
			"label": "Show Indicators?"
		}
	],
	"blocks": [
		{
			"name": "Slide",
			"type": "slide",
			"settings": [
				{
					"type": "image_picker",
					"id": "slide_image",
					"label": "Slide Image"
				},
				{
					"type": "text",
					"id": "slide_heading",
					"label": "Slide Heading",
					"default": "Slide 1"
				},
				{
					"type": "richtext",
					"id": "slide_content",
					"label": "Slide Content",
					"default": "<p>Side description 1</p>"
				}
			]
		}
	]
}
{% endschema %}