<div class="container">
	<div class="row">
		{% for block in section.blocks %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				{% if block.type == 'text_block' %}
					<h5>{{ block.settings.heading }}</h5>
					<p>{{ block.settings.content }}</p>
				{% elsif block.type == 'footer_image' %}
					<div class="footer_image featured-image bg-light object-fit-cover ">
						{% if block.settings.image == blank %}
							{{ 'image' | placeholder_svg_tag }}
						{% else %}
							{{ block.settings.image | image_url: width: 570 | image_tag }}
						{% endif %}
					</div>
				{% elsif block.type == 'footer_menu' %}
					<h5>{{ block.settings.heading }}</h5>
					{% if block.settings.menu.links.size > 0 %}
						<ul>
							{% for link in block.settings.menu.links %}
								<li><a href="{{ link.url }}">{{ link.title }}</a></li>
							{% endfor %}
						</ul><!-- /.ul -->
					{% endif %}
				{% endif %}
			</div><!-- /.col -->
		{% endfor %}
	</div><!-- /.row -->
</div><!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="productModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div><!-- /.modal-header -->
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-lg-4">
						<img src="" class="modal-product-featured-image w-100" alt="">
					</div>
					<div class="col-12 col-lg-8">
						<div class="modal-product-details">
							<h3>Title</h3>
							<h5><strong>GTQ 200.00</strong></h5>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ratione vero adipisci asperiores officiis rerum tenetur consectetur nulla rem. Maiores maxime provident assumenda qui veritatis animi tempore dicta veniam ea!</p>
						</div>
					</div>
				</div>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<form action="" id="addToCartForm">
					<div class="row">
						<div class="col-12 col-md-7">
							<select class="form-select modal-products-select" name="id"></select>
						</div>
						<div class="col-12 col-md-5">
							<input class="form-control modal-product-quantity" type="number" value="1" min="1" name="quantity">
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6 ms-auto">`
							<div class="d-flex align-items-center justify-content-end">
								<button type="submit" class="btn btn-success align-self-center">Add to Cart</button>
							</div>
						</div>
					</div>
				</form>
			</div><!-- /.modal-footer -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% schema %}
{
  "name": "Appol Footer",
  "tag": "footer",
  "class": "my-5",
  "blocks": [
    {
      "name": "Text Block",
      "type": "text_block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading example"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "<p>This is an example of the text content.</p>"
        }
      ]
    },
    {
      "name": "Footer Image",
      "type": "footer_image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Footer Menu",
      "type": "footer_menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Menu Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    }
  ]
}
{% endschema %}