{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		{%- if settings.favicon != blank -%}
			<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
		{%- endif -%}
		<link rel="stylesheet" href="">

		{%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
			<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}

		<title>
			{{ page_title }}
			{%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
			{%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
			{%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
		</title>

		{% if page_description %}
			<meta name="description" content="{{ page_description | escape }}">
		{% endif %}

		{% render 'meta-tags' %}


		<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'tiny-slider.js' | asset_url }}" defer="defer"></script>
		{{ content_for_header }}

		{%- liquid
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
		%}

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}

		{%- if settings.predictive_search_enabled -%}
			<link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
		{%- endif -%}

		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

	{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	{{ 'tiny-slider.css' | asset_url | stylesheet_tag }}
	{{ 'lightbox.min.css' | asset_url | stylesheet_tag }}
	{{ 'style.css' | asset_url | stylesheet_tag }}
	{{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
	</head>

	<body class="gradient">
		<header class="text-center mt-5">
			<h1>Appol Store</h1>
		</header>
		
		<main class="mb-5 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-10 mx-auto text-center">
						<h1>Your Gift Card</h1>
						<h3>{{ gift_card.balance | money_with_currency }}</h3>
						<img src="{{ 'gift-card.png' | asset_url }}" alt="">

						<br>
						<h4>Hey, {{ gift_card.customer.first_name }}!</h4>
					
						{% if gift_card.enabled %}
							<h5>This card is currently enabled.</h5>
						{% else %}
							<h5>This card is currently disabled.</h5>
						{% endif %}

						<h5>This card expires on: {{ gift_card.expires_on | date: "%b %d %Y" }}</h5>
						<h5>Balance: {{ gift_card.balance | money_with_currency}}</h5>
						<h5>Code: {{ gift_card.code }}</h5>

						{% if gift_card.expired %}
							<h5>This card already expired.</h5>
						{% else %}
							<h5>This card hasn't expired yet.</h5>
						{% endif %}

						<div id="qr-code" class="d-flex justify-content-center"></div>
						<script>
						new QRCode(document.getElementById('qr-code'), {
							text: '{{ gift_card.qr_identifier }}',
							width: 220,
							height: 220
						});
						</script>

						{% if gift_card.pass_url %}
							<a href="{{ gift_card.pass_url }}" >
							<img id="apple-wallet-badge"
								src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
								width="120"
								height="40"
								alt="Add To Apple Wallet">
							</a>
						{% endif %}
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</main>

		<footer>

		</footer>
		<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'lightbox-plus-jquery.min.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'masonry.pkgd.min.js' | asset_url }}" defer="defer"></script>
		<script src="{{ 'site-scripts.js' | asset_url }}" defer="defer"></script>
	</body>
</html>